
<div class="about-section">
    <h4>This solution is basically for monitoring renewable services that could be yearly or monthly, it useses the following approach:</h4>
    <h5>1:</h5>
    <p>(a) Hangfire Scheduler to monitor service expiration</p>
    <p>(b) It uses Hangfire background service to upload excel template</p>
    <p>(c) It uses SMTP in sending email notification to concerned employees for service expiration</p>
    <p>(d) Ajax Moal popup for editing and creation of services</p>
    
    <br />
    <h5>Upcoming Improvements:</h5>
    <p>(a) Authentication and authorization</p>
    <p>(b) Monitoring of events that will be due weekly</p>  
    <p>(c) Using message queue for email sending</p>  
    <br />    
</div>
